html{
    font-size: 62.5%;
    font-family: "Kumbh Sans", sans-serif;
}

body{
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 20px;
}




.card .perfil-1{
    width: 130px;
    border-radius: 50%;
    border: 5px solid rgb(241, 68, 5);
    
    
    
}

.card .perfil-2{
    width: 130px;
    border-radius: 50%;
    border: 5px solid coral;

}

.card .perfil-3{
    width: 130px;
    border-radius: 50%;
    border: 5px solid rgb(12, 12, 12);

}

.card {
    width: 400px;
    height: 400px;
    background-color: #FEDC61;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    padding: 30px;
    border: 5px solid coral;

}

.imagem-1{
    background-color: blue;
    border: 5px solid red;
}

.imagem-3{
    background-color: #fff;
    border: 5px solid black ;
}

.card h1{
    font-size: 3rem;
}

.card .cidade{
    font-weight: 500;
}

.card p{
    font-size: 2rem;
}

.card .informacoes{
    display: flex;
}

.card .informacoes li{
    padding: 10px;
    text-align: center;
    font-weight: 900;

}

.card .informacoes li .numero{
    margin-top: 15px;
    font-weight: 900;
    border: 5px solid coral ;
    border-radius: 30%;
}


@media(max-width:900px){
    .container{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .card{
        margin: 15px 0;
    }
}
